LedgerFlow ⚠️/schemas/bahrain_nbr_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Bahrain NBR Schema - Placeholder for testing -->
    <xs:element name="bahrain_invoice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="version" type="xs:string" fixed="1.0"/>
                <xs:element name="invoice">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="invoiceNumber" type="xs:string"/>
                            <xs:element name="invoiceDate" type="xs:string"/>
                            <xs:element name="invoiceType" type="xs:string"/>
                            <xs:element name="currency" type="xs:string"/>
                            <xs:element name="exchangeRate" type="xs:decimal"/>
                            <xs:element name="seller">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="address" type="xs:string"/>
                                        <xs:element name="crNumber" type="xs:string"/>
                                        <xs:element name="vatNumber" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="buyer">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="address" type="xs:string"/>
                                        <xs:element name="crNumber" type="xs:string"/>
                                        <xs:element name="vatNumber" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="items">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="item" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="itemName" type="xs:string"/>
                                                    <xs:element name="quantity" type="xs:decimal"/>
                                                    <xs:element name="unitPrice" type="xs:decimal"/>
                                                    <xs:element name="lineTotal" type="xs:decimal"/>
                                                    <xs:element name="vatRate" type="xs:decimal"/>
                                                    <xs:element name="vatAmount" type="xs:decimal"/>
                                                    <xs:element name="lineTotalInclVat" type="xs:decimal"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="totals">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subtotal" type="xs:decimal"/>
                                        <xs:element name="vatAmount" type="xs:decimal"/>
                                        <xs:element name="totalAmount" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 